{% extends 'master.html' %} {% block title %}Lista de Usuarios{% endblock %} {%
block body %}
<header class="header">
  <nav>
    <div class="nav-wrapper #00695c teal darken-3">
      <a href="http://127.0.0.1:3500/" class="brand-logo">New Invoice Age </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://127.0.0.1:3500/">Inicio</a></li>
        <li>
          <a href="http://127.0.0.1:3500/addCustomer"
            >Administrador de Clientes</a
          >
        </li>
        <li>
          <a href="http://127.0.0.1:3500/addInvoice">Manejo de facturas</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<img src="{{url_for('static', filename='img/img1.jpg') }}" class="image" />

<main class="container">
  <h2 class="mt-2">Lista de clientes</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Mobile Number</th>
      </tr>
    </thead>

    <tbody>
      {% for customer in customers %}
      <tr>
        <td>{{customer[0]}}</td>
        <td>{{customer[1]}}</td>
        <td>{{customer[2]}}</td>
        <td>{{customer[3]}}</td>
        <td>
          <a
            href="{{url_for('editCustomer', id=customer[0])}}"
            class="btn green"
          >
            Editar
          </a>
        </td>
        <td>
          <form action="{{url_for('deleteCustomer')}}" method="post">
            <input type="hidden" name="id" value="{{customer[0]}}" />
            <button class="btn red">Eliminar</button>
          </form>
          <!-- <a class="btn red" href="{{url_for('deleteCustomer', id=customer[0])}}">Eliminar</a> -->
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
