{% extends 'master.html' %} {% block title %}Facturas New Age{% endblock %} {% block body
%}

<header class="header">
  <nav>
    <div class="nav-wrapper #00695c teal darken-3">
      <a href="http://127.0.0.1:3500/" class="brand-logo">New Invoice Age </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://127.0.0.1:3500/">Inicio</a></li>
        <li><a href="http://127.0.0.1:3500/addCustomer">Administrador de Clientes</a></li>
        <li><a href="http://127.0.0.1:3500/addInvoice">Manejo de facturas</a></li>
      </ul>
    </div>
  </nav>
</header>
<img src="{{url_for('static', filename='img/img1.jpg') }}" class="image" />
<main class="container">
  

  <div class="row">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>Starter Pack</b></span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <a href="#"><del>$15000</del></a>
          <a href="#">$12000</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>Standard Pack</b></span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <a href="#"><del>$20000</del></a>
          <a href="#">$16000</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>Premium Pack</b></span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <a href="#"><del>$30000</del></a>
          <a href="#">$25000</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
