body {
  padding: 0;
}

.image {
  width: 100%;
  height: 380px;
  border-bottom: 3px solid black;
}

.header {
  position: sticky;
  top: 0;
}

.flashes {
  width: 200px;
  height: 60px;
  background-color: #eff165;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-error {
  color: brown;
  text-align: center;
  font-size: large;
}

.theme {
  background: #1f4037; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #99f2c8,
    #1f4037
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #99f2c8,
    #1f4037
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.theme h1{
    color: aliceblue;
}

.link{
    color: #1f4037;
}
